// Forms

.input-group {
  margin-bottom: .5em;
  //text-align: center;
  //margin: auto;
  //display: block;
}
.page-form {
  width: 700px;
  //justify-content: center;
}

.new-page-form {
  width: 66%;
  padding: 0.9em;
  background-color: var(--body-bg);
  opacity: 0.95;
  border-radius: 10px;
}